<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vendedor.css">
    <title>Cadastro de Vendedor</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="form-header">
                <h1>Cadastro de Vendedor</h1>
            </div>

          
            <form action="/vendedor" method="POST" aria-labelledby="form-title">
                
              
                <div class="input-box">
                    <label for="tipo">Tipo de Loja</label>
                    <select id="tipo" name="tipo" class="form-control" onchange="toggleFields()" aria-required="true">
                        <option value="pessoa_fisica">Pessoa Física (CPF)</option>
                        <option value="pessoa_juridica">Pessoa Jurídica (CNPJ)</option>
                    </select>
                </div>

                <div class="continue-button">
                    <button type="submit">
                        Próximo
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>